services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /mnt/Jannik-Cloud-Volume-01/caddy/data:/data
      - /mnt/Jannik-Cloud-Volume-01/caddy/config:/config
    networks:
      - jannik-cloud-net

networks:
  jannik-cloud-net:
    external: true
