services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-postgres:5432
      - GITEA__database__NAME=${POSTGRES_DB}
      - GITEA__database__USER=${POSTGRES_USER}
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD}
      - GITEA__server__DOMAIN=git.orfel.de
      - GITEA__server__SSH_DOMAIN=git.orfel.de
      - GITEA__server__ROOT_URL=https://git.orfel.de/
      - GITEA__server__HTTP_PORT=3000
    expose:
      - "3000"
    volumes:
      - /mnt/Jannik-Cloud-Volume-01/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - jannik-cloud-net
    depends_on:
      - gitea-postgres

  gitea-postgres:
    image: postgres:16-alpine
    container_name: gitea-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - /mnt/Jannik-Cloud-Volume-01/gitea/postgres:/var/lib/postgresql/data
    networks:
      - jannik-cloud-net

networks:
  jannik-cloud-net:
    external: true
