services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    expose:
      - "9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/Jannik-Cloud-Volume-01/portainer/data:/data
    networks:
      - jannik-cloud-net

networks:
  jannik-cloud-net:
    external: true
