services:
  homeassistant:
    image: homeassistant/home-assistant:latest
    container_name: homeassistant
    restart: unless-stopped
    privileged: true
    environment:
      - TZ=Europe/Berlin
    expose:
      - "8123"
    volumes:
      - /mnt/Jannik-Cloud-Volume-01/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    networks:
      - jannik-cloud-net

networks:
  jannik-cloud-net:
    external: true
